<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF8">
        <meta http-equiv="X-UA-Compatible" content="ID=Edge">
        <title>暗流</title>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/stylesheets/{{pageName}}.css">
        <link href='http://api.youziku.com/webfont/CSS/575f95e6f629d809243c5876' rel='stylesheet' type='text/css' />
    </head>

    <body>
        <header id="appHeader">
            <div class="header-navs">
                <ul class="header-left">
                    <li><a class="header-link" href="/">暗流</a></li>
                </ul>
                <ul class="header-right">
                    <li><a class="header-link" href="">博客</a></li>
                    <li><a class="header-link" href="">实验室</a></li>
                    <li><a class="header-link" href="">储物室</a></li>
                    <li><a class="header-link" href="">留言</a></li>
                </ul>
            </div>
        </header>

        <main id="appMain">
            {{{body}}}
        </main>

        <footer id="appFooter">
            <div>
                <p>Copyright &copy; 2016 赵培霏. All rights reserved</p>
            </div>
        </footer>
    </body>
</html>