<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <title>暗流</title>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <meta charset="UTF8">
        <meta http-equiv="X-UA-Compatible" content="ID=Edge">
    </head>
    <body>
        {{{body}}}
    </body>
</html>