$containerMaxWidth: 1200px;

body {
    background: {
        image: url(../images/homeBackground.jpg);
        size: cover;
        position: center;
        attachment: fixed;
    }
}

#appMain {
    width: 100%;

    color: white;
    .page {
        display: flex;

        min-height: 90vh;

        align-items: center;
        flex-direction: column;
        justify-content: center;
        &:nth-child(2n+1) {
            border-bottom-right-radius: 50vw 12vh;
            border-bottom-left-radius: 50vw 12vh;

            background-color: rgba(255,255,255,.3);
        }
    }
}


.my-photo {
    display: block;

    margin: 10px auto;
    border-radius: 50%;
    width: 100px;

    animation-name: freeFall;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: .3s;
    &:hover {
        animation-name: freeFall;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-delay: .3s;
    }
}


@keyframes freeFall {
    5% { transform: rotate(90deg); }
    15% { transform: rotate(-80deg); }
    25% { transform: rotate(70deg); }
    35% { transform: rotate(-60deg); }
    45% { transform: rotate(50deg); }
    55% { transform: rotate(-40deg); }
    65% { transform: rotate(30deg); }
    75% { transform: rotate(-20deg); }
    85% { transform: rotate(10deg); }
    95% { transform: rotate(-3deg); }
}

.flex-row {
    display: flex;

    max-width: $containerMaxWidth;

    align-items: stretch;
    flex-flow: row wrap;
}

.contact-icon {
    margin: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;

    transition: background ease-in-out .3s, transform .3s ease-in-out;
    svg {
        fill: #fff;
    }
    
    &:hover {
        background-color: rgba(255,255,255,.5);

        transform: scale(1.1);
    }
    &:hover svg {
        fill: #333;
    }
    &:active svg {
        fill: #000;
    }
}

.abstract-pro {
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
    min-width: 150px;

    text-decoration: none;

    color: inherit;
    background-color: rgba(52,52,52,.3);

    transition: transform .3s ease-in-out,background-color .3s ease-in-out;

    flex: 1;
    h3 {
        text-align: center;
    }
    p {
        line-height: 1.6em;
        text-align: justify;
    }
    &:hover {
        background-color: rgba(52,52,52,.6);

        transform: scale(1.1);
    }
}

.login-a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
