$formMaxWidth: 500px;
$fieldsetMarin: 20px;
$fieldPadding: 20px;
$borderRadius: 15px;

form {
    margin: 20px auto;
    border-radius: $borderRadius;
    max-width: $formMaxWidth;

    background-color: #ddd;
    fieldset {
        margin: $fieldsetMarin;
        border: none;
        h3 {
            background-color: #666;
            color: #fff;
            border-radius: $borderRadius/2;
            padding: 0.3em 1em;
        }
    }
}

.fields {
    padding: $fieldPadding;

    color: #000;
    background-color: #fff;

    border-radius: $borderRadius;
}

.row {
    label {
        display: inline-block;

        width: 80px;

        text-align: right;
        vertical-align: top;

        cursor: pointer;
    }
}

.btn:nth-child(1) {
    margin: 0 2*$fieldsetMarin;

    cursor: pointer;
}
.btn:nth-child(2) {
    display: inline-block;

    margin: 0 2*$fieldsetMarin;

    text-align: right;

    cursor: pointer;
}

