
$containerMaxWidth: 1200px;
$headerNavHeight: 48px;
$bodyFontFamily: "Helvetica neue",Helvetica,Tahoma,"lantinghei sc","Microsoft Yahei",sans-serif;
$faviconFontFamily: "CaiYunHanMaoBi-4e68b84f162a5";
$headerColor: #38f;
$backgroundColor: #fff;
$footerFontColor: #888;
$footerBGColor: #333;

@mixin centerBox($maxWidth) {
    margin: 0 auto;
    max-width: $maxWidth;
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;
    font-family: $bodyFontFamily;
}

body:before {
    display: block;

    height: $headerNavHeight + 2px;

    content: "";
}

#appHeader {
    position: fixed;
    top: 0;
    z-index: 100;

    border-top: 2px solid $headerColor;
    width: 100%;
    height: $headerNavHeight;

    background-color: #fff;

    box-shadow: 0 0 5px rgba(0,0,0,.4);
    div {
        top: 0;

        @include centerBox($containerMaxWidth);
    }
}

@mixin headerList {
    list-style: none;

    margin: 0;
    padding: 0;
    height: $headerNavHeight;
}

@each $lr in left,right {
    .header-#{$lr} {
        float: $lr;

        @include headerList;
    }
}

.header-left li,
.header-right li {
    display: inline-block;

    height: $headerNavHeight;

    vertical-align: middle;
}

.header-link {
    display: block;

    box-sizing: border-box;
    padding: 0 15px;
    height: $headerNavHeight;
    //font: #{$headerNavHeight/3}/#{$headerNavHeight};

    font-size: $headerNavHeight/3;
    line-height: $headerNavHeight;
    text-decoration: none;

    color: #16b;

    transition: background .3s ease-in-out, color .3s ease-in, transform .3s ease-in-out;

    &:hover {
        color: #fff;
        background-color: $headerColor;
        transform: scale(1.1,1);
        text-decoration: none;
    }
    &:focus {
        color: #fff;
        background-color: $headerColor;
    }
    &:active {
        background-color: $headerColor - #031323;
        //transform: scale(1.1);
    }
}

.header-left .header-link {
    font-family: $faviconFontFamily,$bodyFontFamily;
    font-size: 32px;
}

#appMain {
    flex: 1;
}


#appFooter {
    width: 100%;

    color: $footerFontColor;
    background-color: $footerBGColor;

    .flex-left-right {
        font-size: 16px;
        display: flex;
        align-items: center;
        @include centerBox($containerMaxWidth);
    }

    p{
        margin: 0;
        line-height: 3em;
    }
}

.flex-left-right {
    display: flex;

    max-width: $containerMaxWidth;
    margin: 0 auto;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-row {
    display: flex;

    max-width: $containerMaxWidth;

    align-items: center;
    flex-flow: row wrap;
}

.footer-icon {
    border-radius: 50%;
    width: 32px;
    height: 32px;

    transition: color .3s ease-in, transform .3s ease-in-out;

    svg {
        fill: $footerFontColor;
    }

    &:hover svg,
    &:focus svg {
        transform: scale(1.2);
        fill: #fff;
    }
}

@font-face {
    font-family: 'CaiYunHanMaoBi-4e68b84f162a5';
    src: url('//cdn.webfont.youziku.com/webfonts/nomal/25253/165/579e0cdcf629d80fb8a7bc4e.gif');
    src: url('//cdn.webfont.youziku.com/webfonts/nomal/25253/165/579e0cdcf629d80fb8a7bc4e.gif?#iefix') format('embedded-opentype'),     url('//cdn.webfont.youziku.com/webfonts/nomal/25253/165/579e0cdcf629d80fb8a7bc4e.bmp') format('woff'),     url('//cdn.webfont.youziku.com/webfonts/nomal/25253/165/579e0cdcf629d80fb8a7bc4e.jpg') format('truetype'),     url('//cdn.webfont.youziku.com/webfonts/nomal/25253/165/579e0cdcf629d80fb8a7bc4e.png#CaiYunHanMaoBi-Xing') format('svg');
}
.css4e68b84f162a5{font-family: 'CaiYunHanMaoBi-4e68b84f162a5';}