@import "./main.scss";

#appMain {
    background-color: #eee;
}

#blogsContainer,
#disqus_thread {
    margin: 20px auto;
    min-width: 600px;
    max-width: 1000px;
}

.time-line {
    margin: 5px 10px;

    font-weight: bold;
    letter-spacing: 2px;

    color: #999;

    text-shadow: 0 1px #fff;
}

.blog-container {
    margin: 0 0 20px 0;
    border-radius: 5px;
    padding: 20px;

    color: #444;
    background-color: #fff;

    box-shadow: 1px 2px 3px #ddd;
    li {
        margin: .6em;

        font-size: 1em;
        line-height: 1.6em;
    }
    p,
    table {
        margin: 1.6em 0;

        font-size: 100%;
        line-height: 1.6em;
    }
    table {
        width: 100%;
        th {
            border-bottom: 3px solid #ddd;
            padding-bottom: .5em;

            font-weight: bold;
        }
        td {
            border-bottom: 1px solid #ddd;
            padding: .5em;
        }
    }
    pre {
        font-size: .95em;
    }
}
