#appMain {
    background-color: #f2f2f2
}
#profileContainer {
    margin: 20px auto;
    max-width: 1200px;
    column-width: 500px;

    a {
        text-decoration: none;
        color: #333;
        &:hover {
            text-decoration: none;
        }
    }
}

figure {
    width: 480px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);

    &:hover {
        box-shadow: 0 10px 20px 0 rgba(0,0,0,0.5);
        border-radius: 5px;
    } 
    figcaption {
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
    }

    img {
        width: 480px;
        height: auto;
        border-radius: 3px;
        border: solid 1px #ddd;
    }
}

