@import "./main.scss";

#appMain {
    background-color: #f6f6f6;
    background-image: -webkit-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 50%,
                      hsla(0,0%,0%,.015) 50%, hsla(0,0%,0%,.015) 100%),
                      -webkit-radial-gradient(hsla(0,0%,0%,.05) 10%, transparent 15%);
    background-size: 1.5em 1.5em, .5em .5em;
}
#profileContainer {
    margin: 20px auto;
    max-width: 1200px;

    -webkit-column-width: 500px; /* Safari 和 Chrome */
       -moz-column-width: 500px; /* Firefox */
            column-width: 500px;
    a {
        text-decoration: none;

        color: #333;
        &:hover {
            text-decoration: none;
        }
    }
}

figure {
    margin: 10px auto;
    padding: 10px;
    width: 480px;

    background-color: #fff;

    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    &:hover {
        border-radius: 5px;

        box-shadow: 0 10px 20px 0 rgba(0,0,0,.5);
    }
    figcaption {
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
    }
    img {
        border: solid 1px #ddd;
        border-radius: 3px;
        width: 480px;
        height: auto;
    }
}
